@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Cardo&family=Courgette&family=Cuprum&family=Fredoka:wght@500&family=Kalam:wght@300&family=Lobster&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Cardo&family=Courgette&family=Cuprum&family=Fredoka:wght@500&family=Kalam:wght@300&family=Lobster&family=Poppins:wght@200&family=Roboto:wght@300&display=swap');
* {
  margin: 0;
  padding: 0;
}
:root{
 --box-shadow1: 0px 4px 4px rgba(0, 0, 0, 0.25);
 --box-shadow2: 1px 2px 8px 2px rgba(0, 0, 0, 0.25);
 --box-shadow3: 1px 2px 4px -2px rgba(0, 0, 0, 0.25);;
 --border-radius1: 10px;
 --border-radius2: 15px;
 --border-radius3: 0 0 15px 15px;
 --font-family1:'Roboto', sans-serif;
 --font-family2: 'Cardo', serif;
 --transition: all 0.3s linear;
}
body{
  padding: 2rem;
  width:70vw;
  margin: auto;
}
main {

  display: grid;
  grid-template-columns: 350px 1fr;
  grid-gap: 3rem;
  align-items: baseline;
  background: #FFFFFF;
  /* border: 1px solid #F0F0F0; */
  /* box-shadow: var(--box-shadow1); */
  border-radius: 10px;
 

  
}
 .nav{
  
  background: #0029FF;
  border: 1px solid #000000;
  box-shadow: var(--box-shadow1);
  border-radius: 10px 10px 0px 0px;
  margin-bottom: 50px;
}
.nav h1{
  color: white;
  padding: .5rem 1.5rem;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 5px;
}
.headBody{
 
  
  width:500px;
  position: relative;
  border-radius: var(--border-radius1);
  box-shadow: var(--box-shadow1);
 
  
}


.task{
  
 margin-bottom: 2rem;
  /* box-shadow: var(--box-shadow1); */
  border-radius: var(--border-radius1);
  display: none;
 
  
  
}
.task.active{
  display: block;
}
.task .navBar{
  padding: .7rem .7rem  ;
  background-color: #000000;
  color: #F0F0F0;
  font-family: var(--font-family1);
  letter-spacing: 5px;
  border-radius: 10px 10px 0 0;
  text-align: center;
}
.navBar h1{
  font-size: 18px;
}
.taskHeading1Body{
  height: auto;
  padding: 2rem;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.25rem;
 
}


/* Task Heading 2 */

.th2BHead{
  display: flex;
  justify-items: flex-start;
  align-items: center;
  padding: .5rem ;
  margin-top: 20px;
  border-bottom :1.5px inset rgb(219 214 214);
  border-top: 1.5px outset rgb(219 214 214);
  
} 
.up{
  margin-right: 50px;
  margin-left: 10px;
  
}
.downArrow{
  position: absolute;
  bottom: 0%;
  right: 7%;
  cursor: pointer;
}
.taskHead2Form{
  box-shadow: var(--box-shadow3);
  border-radius: var(--border-radius3);
  height: 90%;
  
 
}
.th2BHead h3{
  font-family:  var(--font-family1);
  letter-spacing: 1px;
  font-weight: 900;
  color: black;
}
.taskHead2Form{
  padding: 3rem;
}
.taskHeadFormHead{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 35px;
}
.tHFHead{

height: 120px;
border-radius: var(--border-radius1);
width: auto;
background-color: rgba(184, 180, 180, 0.685);
box-shadow: var(--box-shadow1);

}
.tHFHead>h4{
  height: 35px;
  font-weight: var(--font-family1);
  padding-inline-start:.5rem;
  display: flex;
  align-items: center;
  font-size: 18px;
}
.tHFHead input{
  width: 96.5%;
  height: 78%;
  border-radius: var(--border-radius2);
  border: none;
  margin-bottom: 0;
  font-size: 18px;
  padding-left: .5rem;
  letter-spacing: 1.5px;
  font-family: var(--font-family2);
  box-shadow: var(--box-shadow1);
  vertical-align:text-top;
  margin-top: 0;
  
}


.tHF2MidBox{
  display: grid;
  grid-template-columns: 120px 1fr 1fr;
  grid-gap: 12px;
  margin: 30px 0;

}

.tHF2sel{
  padding: 5px;
  box-shadow: var(--box-shadow2);
  border-radius: 5px;
  
  border: none;
}
.tHFMidBoxIcons{
  margin-left: 80px;
}
.tHFMidBtn{
  border-radius: var(--border-radius1);
  background-color: #0029FF;
  color: #F0F0F0;
  font-family: var(--font-family1);
  border:none;
  padding: .5rem;
  display: flex;
  justify-content: space-around;
  width: 25%;
  align-items: center;
  letter-spacing: .5px;
  margin-bottom: 15px;
  font-weight: 600;
  cursor: pointer;
  font-size: 12px;
}
.tHFMidBtn>.fa{
font-size: 10px;
width: 10px;
}
.tHFHead2Bottom{
  width: 100%;
  padding: 2rem 0;
}
.tHFHeadBottomTop1{
  width: 150px;
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  font-family: var(--font-family1);
  letter-spacing: .5px;

}
.tHFHeadBottomTop{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  
}
.bottomBtn{
  float: right;
  /* padding: .75rem; */
  width: 34%;
  font-size: 18px;
  font-family: var(--font-family1);
  font-weight: 600;
}


/* Task heading 3 */

.taskHeading3Body{
 margin: 1.5rem;

   
}
.taskHeading3Body textarea{
  border-radius: var(--border-radius1);
  box-shadow: var(--box-shadow2);
  outline: none;
  border:none;
  padding: 10px;
  font-family: var(--font-family1);
  font-size: 18px;
  letter-spacing: .5px;
  font-weight: 600;
}


/* Taks 4 */


.thf4Data{
  height: 600px;
  width: 100%;

}

.tHF4Footer{
  display: flex;
  width: 250px;
  background-color: #000000ab;
  height: 35px;
  align-items: center;
  
  font-family: var(--font-family2);
  letter-spacing: 2px;
  justify-content: space-between;
  color: white;
  font-weight: 400;
  padding: 0  0 0 .5rem;
  position: absolute;
  bottom: 4%;
  right: 25%;
  
}
.tHF4Footer>span{
  /* background-color: red; */
  font-size: 12px;
  /* border-right: 2px solid white; */
margin-right: 5px;
width: 50px;
}
.tHF4Footer .fa{
  font-size: 18px;
  
}
.tHF4FootIcon{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  height: 100%;
 border: 
 .5px solid white;
 margin-right: 0;
 text-align: center;
 /* align-self: center; */
}

/* Task5 */

.th5Head{
  background-color: #e7e7e77a;
  box-shadow: none;
  border: none;
  font-weight: bold;
}
.th5HeadIntro{
  width: 80%;
    height: 100px;
    border-radius: var(--border-radius2);
    border: none;
    margin: 1.5rem 2.8rem;
    font-size: 15px;
    padding-left: 0.5rem;
    letter-spacing: 1.5px;
    font-family: var(--font-family2);
    box-shadow: var(--box-shadow2);
    vertical-align: text-top;
}
.th5HeadFormBody{
  /* width: 80%; */
  margin: 1.5rem 2.8rem;
  margin-bottom: 5rem;

  
}
.th5HeadFormBody>input{
  width: 98%;
  font-size: 15px;
  margin-bottom: 1rem;
}
.fa-save{
  position: absolute;
  right: 10%;
  bottom: 5%;
  font-size: 20px;
  color: rgb(51, 47, 47);
  
}
.tHFTask5MainBody{
  height: 100%;
  box-shadow: var(--box-shadow3);
  border-radius: var(--border-radius3);
  padding-bottom: 2rem;
}

/* TaskHeading 6 */

.taskHeading6Body{
  width:80%;
  padding: 2rem;
  background-color: gray;
  margin: 1rem;
  background-color: #a198989e;
}
.tFhHead6Audio{
  width: 100%;
  height: 25px;
}

/* Tak heading7 */

.taskHeading7Body{
  margin: .25rem;
}

/* Side bar */


.sideBar{
  margin: 2rem;
box-shadow: var(--box-shadow2);
height: 500px;
transform: var(--transition);
display: none;
/* transform: translate(-100%); */

}
.sideBarHead {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-family: var(--font-family1);
  background-color: #000000;
  padding: 1rem;
}
.sideBarHead .fa{
  font-size: 30px;
  cursor: pointer;
}
.sidebar-toggle {
  
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
  animation: bounce 2s ease-in-out infinite;
}

.close-btn {
  font-size: 1.75rem;
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
  color: var(--clr-red-dark);
}


.demoTask{
  padding: 2rem;
  font-family: var(--font-family1);
}

.demoTask ol{
  border-bottom: 1px solid gray;
  margin-bottom: 10px;
  padding: 10px;
}
.demoTask ul li  {
margin: 1.5rem;
border-bottom: 1px solid gray;
}
.demoTask ul li  a{
 text-decoration: none;
 color: gray;
 }
  .show{
    display: block;
   
   
  }
  